<h1>Acerca de nosotros</h1>
<p>Somos un grupo de...</p>


<h2>Colophon</h2>
<ul class="colophon">
    <li>NodeJS (<a href="http://nodejs.org/">http://nodejs.org</a>)</li>
    <li>ExpressJS (<a href="http://expressjs.com/">http://expressjs.com/</a>)</li>
    <li>Node-Code-Blog (<a href="http://github.com/brianleroux/wtfjs">http://github.com/brianleroux</a>)</li>
    <li>Showdown (<a href="http://www.attacklab.net/">http://www.attacklab.net/</a>)</li>
    <li>Prettyfy fy</li>
    <li>Heroku (<a href="http://heroku.com">http://heroku.com</a>)</li>
    <li>GitHub (<a href="http://github.com">http://github.com</a>)</li>
</ul>